.input:focus {
}

.input {
    padding-left: 10px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    width: 280px;
    height: 50px;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
}

.superInput {
}

.errorInput {
    border: 1px solid #CC1439;
    border-radius: 5px;
}

.errorInput:focus {
}

.error {
    color: #CC1439;
}
